@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
}

body {
  background-color: wheat;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
}

main {
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin: 2rem;
}

/*** NAVBAR ***/

.navbar {
  background-color: rgb(255, 76, 45);
  display: flex;
  justify-content: space-between;
  height: 11rem;
  padding: 4rem;
}

.navbarLogo {
  align-self: center;
}

.navbarList {
  width: 60rem;
  display: flex;
  justify-content: space-around;
  color: white;
  align-self: center;
}

.navbarListItem {
  font-size: 150%;
}

.navbarListItem a {
  color: white;
}

.navbarListItem a:hover {
  color: wheat;
}

.submenu {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.submenuItem {
  padding: 1rem;
  font-size: 90%;
}

.submenuItem a {
  color: black;
}

.submenuItem a:hover {
  font-weight: bold;
  color: black !important;
}

.navbarListItem:hover ul {
  display: block;
}

.active {
  font-weight: bold;
  color: wheat !important;
}

.searchBar {
  align-self: center;
}

.input {
  line-height: 28px;
  border: 2px solid transparent;
  border-bottom-color: white;
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
.input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border-color: white;
}

.input::placeholder {
  color: white;
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

/*** BODY ***/
.imgGrande {
  width: 100%;
  height: 38rem;
  object-fit: cover;
}

.tarjeta {
  margin: 5rem 0 5rem 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tarjeta Img {
  width: 40rem;
}

/*** FOOTER ***/

footer {
  width: 100%;
  background-color: rgb(255, 76, 45);
  font-weight: bold;
  margin-top: 2.5rem;
}

footer p {
  font-size: 150%;
  text-align: center;
  padding: 4rem;
  color: white;
}

/*** DELIVERY ***/
.delivery {
  padding: 4rem 4rem 1.5rem 4rem;
  text-align: center;
}

.delivery img {
  width: 60%;
}

/*** PRODUCTOS ***/
.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem 40rem;
}

.articleContent {
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.articleText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleText producto {
  font-size: 150%;
  margin: 5px;
}

.articleText p {
  font-size: 150%;
  font-weight: bold;
}

.fotoProducto {
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
}

.clasePasta {
  width: 100%;
}

/*** PROMOS ***/
.dias {
  width: 100%;
  height: 30rem;
  display: flex;
  font-size: 200%;
  background-color: rgb(255, 76, 45);
  color: white;
  padding: 0 2rem;
  margin: 3rem 0 3rem 0;
}

.dias img {
  align-self: center;
  width: 25rem;
  border-radius: 1rem;
}

.dias h2 {
  font-size: 300%;
  padding: 0 0 2rem;
}

.diasContenido {
  padding: 2rem;
}

.precio {
  padding: 2rem 0;
  font-weight: bold;
  font-size: 300%;
}

/*** CONTACTO ***/

.form {
  display: block;
  align-self: auto;
  padding: 5rem 20%;
}

.formLabel {
  font-size: 150%;
}

.formInput {
  /*line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #000000;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin: 2rem;*/
  background-color: wheat;
  border: 1px solid gray;
  font-size: 200%;
  margin: 1rem 0;
  width: 100%;
}

.formInputBoton {
  background-color: rgb(255, 76, 45);
  color: white;
  border: 0;
  padding: 10px;
}

.contactoImg {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .navbar {
    background-color: rgb(255, 76, 45);
    height: 12rem;
    padding: 4rem;
  }

  .navbarList {
    width: 60rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    align-self: center;
  }

  .input {
    display: none;
  }

  .tarjeta Img {
    width: 70%;
  }

  a {
    display: flex;
    justify-content: space-around;
    padding: 5px;
  }

  .content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2%;
  }
}