.container {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: $small;
}
.cards {
    max-width: 1200px;
    margin: auto;
    @include flex (row, center, none);
    gap: $xsmall;
    flex-wrap: wrap;
    padding: $medium;
}

.box {
    display: flex;
    flex-direction: column;
}

.fotoProducto {
    padding: 2rem;
    border-radius: 1rem;
    max-width: 300px;
}

.articleText {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $medium;

    & producto {
        font-family: $font-title;
        font-size: $fMedium;
        color: $primary;
    }

    & p {
        margin-top: 0.5rem;
        font-size: $fMedium;
        font-weight: bold;
    }
}