@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: wheat;
    font-family: $font-principal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: $font-title;
    color: $text-color;
}

img {
    width: 100%;
}

p {
    text-align: justify;
}

main {
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 2rem;
}