/* COLORES */
$primary: rgb(255, 76, 45);
$secondary: wheat;
$text-color: white;

/* ESPACIADOS */
$large: 6rem;
$medium: 2.4rem;
$small: 2rem;
$xsmall: 1rem;

/* FUENTES */
$font-principal: "Montserrat",
sans-serif;
$font-title: sans-serif;

/* TAMAÑO DE FUENTE */
$fLarge: 5.2em;
$fMedium: 2.2em;
$fBase: 1.6em;
$fSmall: 1.4em;